<div class="jumbotron text-xs-center">
<div class="mask"></div>
  <div class="container">
    <h1 class="display-2">welcome to maven</h1>
    <p>A community for lunch-loving workaholics</p>
    <a href="/products" class="btn btn-lg btn-default btn-primary"></span> View Products</a>
  </div>
</div>